@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-fw: 700;
  --primary-fs: 15px;
  --primary-linear-gradient: hsl(305, 68%, 41%), hsl(208, 90%, 60%);
  --neutral-very-light-grayish-blue: hsl(240, 78%, 98%);
  --neutral-light-grayish-blue: hsl(234, 14%, 74%);
  --neutral-grayish-blue: hsl(233, 13%, 49%);
  --neutral-dark-grayish-blue: hsl(232, 13%, 33%);
  --neutral-white: hsl(0, 0%, 100%);
}

.PricingApp {
  position: absolute;
  max-height: 100vh;
  font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
  display: grid;
  z-index: 999;
  margin-bottom: 2% !important;
  margin-right: 10%;
  margin-left: 0;
}


.PricingApp::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 353px;
  width: 100%;
  height: 304px;
  background-repeat: no-repeat;
  background-size: contain;
  z-index: -1;
}

button {
  font-family: "Montserrat", sans-serif;
  font-weight: var(--primary-fw);
  font-size: var(--primary-fs);
}

.PricingApp .app-container {
  width: 93%;
}

.PricingApp header .header-topic {
  text-align: center;
  color: white;
  font-size: 75px;
  font-family: 'Amatic SC', sans-serif;
}

.PricingApp .pricing-cards {
  margin-top: 4em;
  min-height: 30rem;
  display: flex;
}

@media screen and (max-width: 800px) {
  .PricingApp {
    padding-block: 4em;
  }
  .PricingApp .pricing-cards {
    flex-direction: column;
    gap: 2em;
  }
}